<nav>
    <div  class="site-title">
        <a href="/"><h1>Blog hisoka</h1></a>
        <p>A Net Hisoka site</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>