<!DOCTYPE html>
<html lang="en">
<%-include(`./partials/head`) %>
<body>
    <%-include(`./partials/nav`) %>
        <div class="not-fond content">
            OOPS , Page not fond :(    
        </div>
        <%-include(`./partials/footer`) %>
</body>
</html>
