<!DOCTYPE html>
<html lang="en">
    <%-include(`./partials/head`) %>
<body>
    <%-include(`./partials/nav`) %>
        <div class="about content">
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, magni mollitia placeat doloremque fugiat corrupti atque eaque magnam at id impedit illo cupiditate consequatur nulla non quis rerum assumenda similique.
            Libero quis cupiditate veritatis deleniti magni voluptate recusandae minus pariatur illo eligendi perspiciatis nostrum quisquam, vel, temporibus numquam provident et maiores aliquam dolore perferendis asperiores esse mollitia enim! Distinctio, culpa.
            Fuga possimus maiores cumque sunt est eaque nisi atque at, ea autem natus id impedit reiciendis dicta nam assumenda laudantium. Ipsum necessitatibus non sed similique alias, ut vel delectus et!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, magni mollitia placeat doloremque fugiat corrupti atque eaque magnam at id impedit illo cupiditate consequatur nulla non quis rerum assumenda similique.
            Libero quis cupiditate veritatis deleniti magni voluptate recusandae minus pariatur illo eligendi perspiciatis nostrum quisquam, vel, temporibus numquam provident et maiores aliquam dolore perferendis asperiores esse mollitia enim! Distinctio, culpa.
            Fuga possimus maiores cumque sunt est eaque nisi atque at, ea autem natus id impedit reiciendis dicta nam assumenda laudantium. Ipsum necessitatibus non sed similique alias, ut vel delectus et!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, magni mollitia placeat doloremque fugiat corrupti atque eaque magnam at id impedit illo cupiditate consequatur nulla non quis rerum assumenda similique.
            Libero quis cupiditate veritatis deleniti magni voluptate recusandae minus pariatur illo eligendi perspiciatis nostrum quisquam, vel, temporibus numquam provident et maiores aliquam dolore perferendis asperiores esse mollitia enim! Distinctio, culpa.
            Fuga possimus maiores cumque sunt est eaque nisi atque at, ea autem natus id impedit reiciendis dicta nam assumenda laudantium. Ipsum necessitatibus non sed similique alias, ut vel delectus et!</p>
        </div>
        <%-include(`./partials/footer`) %>
</body>
</html>